# 1. Scraping the data from Wikipedia into a pandas DataFrame

In [0]:
# The packages required for the exercise
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [0]:
# Getting the webpage from the url using requests package
website_url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
webpage = requests.get(website_url).text

In [0]:
# This function retrieves the raw data from the webpage
soup = BeautifulSoup(webpage, 'lxml')

# Retrieving the specific table that contains the data that we require
table = soup.find('table', {
    'class': 'wikitable sortable'
})

In [0]:
# Retrieving all the <tr> tags from the soup
# Each of these tags will represent a row in our DataFrame
rows = table.find_all('tr')[1:]

# Populating an array with the values from the rows
values = []
for row in rows:
  row_for_df = []
  for val in row.find_all('td'):
    row_for_df.append(val.contents[0].rstrip())

  # Converting all the multiple values of Neighborhood from '/' separated to comma separated
  row_for_df[2] = row_for_df[2].replace(' /', ',')

  # Appending all the rows to a list called values
  values.append(row_for_df)

In [5]:
# Creating the DataFrame with the scraped values and with appropriate column names
columns = ['PostalCode', 'Borough', 'Neighborhood']
toronto_df = pd.DataFrame(values, columns = columns)


# Printing the top 5 elements of the DataFrame
print(f'The length of the dataframe is {len(toronto_df)}')
toronto_df.head()

The length of the dataframe is 180

  PostalCode           Borough               Neighborhood
0        M1A      Not assigned
1        M2A      Not assigned
2        M3A        North York                  Parkwoods
3        M4A        North York           Victoria Village
4        M5A  Downtown Toronto  Regent Park, Harbourfront

In [23]:
# Dropping all the rows that have a "Not assigned" Borough
toronto_df = toronto_df[toronto_df['Borough'] != 'Not assigned']

# Since many rows were dropped, we need to reset the index of the dataframe from 0 .. len(df)
toronto_df.index = list(range(len(toronto_df)))


# Printing the top 5 elements of the DataFrame
print(f'The length of the dataframe is {len(toronto_df)}')
toronto_df.head()

# The entries with multiple neighborhoods are already handled while reading the data

The length of the dataframe is 103

  PostalCode           Borough                                 Neighborhood
0        M3A        North York                                    Parkwoods
1        M4A        North York                             Victoria Village
2        M5A  Downtown Toronto                    Regent Park, Harbourfront
3        M6A        North York             Lawrence Manor, Lawrence Heights
4        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [7]:
# Printing the shape of the toronto dataframe
print(f'The shape of the DataFrame is {toronto_df.shape}')

The shape of the DataFrame is (103, 3)

# 2. Adding the geospatial data to the DataFrame

I tried using the geocoder package, and it was very unreliable and it did not work as expected. So, I'll use the provided csv file instead.

In [28]:
# Reading the coordinates csv file into a pandas dataframe
coordinates = pd.read_csv('Geospatial_Coordinates.csv', names=['PostalCode', 'Latitude', 'Longitude'])[1:]
coordinates.head()

  PostalCode    Latitude    Longitude
1        M1B  43.8066863  -79.1943534
2        M1C  43.7845351  -79.1604971
3        M1E  43.7635726  -79.1887115
4        M1G  43.7709921  -79.2169174
5        M1H   43.773136  -79.2394761

In [51]:
# Adding the Latitude and Longitude values for each entry in our toronto_df dataframe
toronto_df['Latitude'] = ''
toronto_df['Longitude'] = ''

# Adding the Latitude and Longitude to each of the toronto_df's entries
for i in range(len(toronto_df)):
  toronto_df.loc[i, ['Latitude', 'Longitude']] = coordinates[coordinates['PostalCode'] == toronto_df.loc[i, 'PostalCode']][['Latitude', 'Longitude']].values


# Printing the top 5 elements of the DataFrame
print(f'The length of the dataframe is {len(toronto_df)}')
toronto_df.head()

The length of the dataframe is 103

  PostalCode           Borough  ...    Latitude    Longitude
0        M3A        North York  ...  43.7532586  -79.3296565
1        M4A        North York  ...  43.7258823  -79.3155716
2        M5A  Downtown Toronto  ...  43.6542599  -79.3606359
3        M6A        North York  ...   43.718518  -79.4647633
4        M7A  Downtown Toronto  ...  43.6623015  -79.3894938

[5 rows x 5 columns]